@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,500|Source+Code+Pro:200,300,400');


html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(30deg, #020b1e, #070c16); */
  background: #1a1e2d;
  overflow: hidden;
}

/* body {
  background-color: #151515!important;
} */

div.sub-head-text {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 0.5em;
  color: #ff6efc;
  text-transform: uppercase;
}

h3.title-text {
  font-family: "Source Code Pro", monospace!important;
  font-weight: 300!important;
  color: #1bc4ff!important;
}

h3, h5 {
  font-family: "Source Code Pro", monospace!important;
  font-weight: 300!important;
  text-transform: uppercase;
  color: #1bc4ff!important;
  margin-bottom: 12px!important;
}

div.disclaimer, div.title-slide-body {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  padding: 32px;
  line-height: 32px;
}

div.child-slide-body {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding: 32px 0px 32px 0px;
}

ul.child-slide-body-list > li {
  list-style-type: none;
  /* display: block; */
}

div.list-item-container > span {
  padding-left: 16px;
}

div.list-item-container {
  padding: 8px 0px 8px 0px;
}

span.reading-indicator {
  font-weight: 500;
  color: #c10bf4;
}

img.child-slide-img {
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.hljs {
  background: #070b13!important;
}

.reveal pre {
  /* width: 80%!important; */
  font-size: 0.6em!important;
  box-shadow: none!important;
  margin: 0px auto!important; 
}

.reveal pre code {
  padding: 16px;
  max-height: none!important;
}

.reveal sup {
  vertical-align: top;
}

html {
  cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto!important;
}



@keyframes cresent {
  0% {
    transform: translate(-30px, 30px) scale(0.9);
    box-shadow: none;
  }
  50% {
    transform: translate(0px, 0px) scale(1.02);
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #C7938B;
    background-color: #efdbd8;
  }
  100% {
    transform: translate(30px, -30px) scale(0.9);
    box-shadow: none;
  }
}