@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,500|Source+Code+Pro:200,300,400');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e2d;
  overflow: hidden;
}

div.sub-head-text {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 0.5em;
  color: #ff6efc;
  text-transform: uppercase;
}

h3.title-text {
  font-family: "Source Code Pro", monospace!important;
  font-weight: 300!important;
  color: #1bc4ff!important;
}

h3, h5 {
  font-family: "Source Code Pro", monospace!important;
  font-weight: 300!important;
  text-transform: uppercase;
  color: #1bc4ff!important;
  margin-bottom: 12px!important;
}

div.disclaimer, div.title-slide-body {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  padding: 32px;
  line-height: 32px;
}

div.child-slide-body {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding: 32px 0px 32px 0px;
}

ul.child-slide-body-list > li {
  list-style-type: none;
}

div.list-item-container > span {
  padding-left: 16px;
}

div.list-item-container {
  padding: 8px 0px 8px 0px;
}

span.reading-indicator {
  font-weight: 500;
  color: #c10bf4;
}

img.child-slide-img {
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  border: none!important;
}

.hljs {
  background: #070b13!important;
}

.reveal pre {
  font-size: 0.6em!important;
  box-shadow: none!important;
  margin: 0px auto!important; 
}

.reveal pre code {
  padding: 16px;
  max-height: none!important;
}

.reveal sup {
  vertical-align: top;
}

html {
  cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto!important;
}

/* Mondrian */
div#mondrian-solution-outer {
  position: relative;
}

div#mondrian-solution {
  width: 400px;
  height: 400px;
  /* outline: 5px solid white; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div#top-left-col {
  float: left;
  width: 100px;
  height: 300px;
  border-right: 6px solid black;
}

div.white-box {
  background: white;
  height: 50%;
}

div.white-box.upper {
  border-bottom: 24px solid black;
}

div#top-right-col {
  width: 300px;
  height: 300px;
  float: right;
  background: red;
  border-left: 6px solid black;
}

div#bottom-row {
  width: 100%;
  height: 100px;
  float: left;
  border-top: 12px solid black;
}

div#bottom-left-box {
  float: left;
  width: 100px;
  height: 100%;
  background: blue;
  border-right: 6px solid black;
}

div#bottom-right-box {
  width: 300px;
  height: 100%;
  float: right;
  background: white;
  border-left: 6px solid black;
}

div#bottom-right-narrow {
  width: 40px;
  height: 100%;
  float: right;
  border-left: 12px solid black;
  background: yellow;
}

div#bottom-right-narrow-top-box {
  width: 100%;
  height: 50%;
  background: white;
  border-bottom: 12px solid black;
}

div#bottom-right-narrow-bottom-box {
  width: 100%;
  height: 50%;
  background: yellow;
  border-top: 12px solid black;
}

/* css */

h1#make-art-css {
  text-transform: uppercase;
	text-shadow: -3px 0 red, 3px 0 cyan;
	letter-spacing: 2px;
	color: white;
	font-family: "Georgia", serif;
}